<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body bgcolor="#847df3">
<div>
  <div class='center'>
    <div class='title'> WELCOME TO EZMATA TECHNOLOGIES</div>
    <p>
      KINDLY UPLOAD THE PICTURE OF THE BLOOD SMEAR
    </p>

    <img src= "https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.licdn.com%2Fdms%2Fimage%2FC510BAQFkNrIovgw_8Q%2Fcompany-logo_200_200%2F0%3Fe%3D2159024400%26v%3Dbeta%26t%3D37TS-0kEDjkiCPpsA2Rj0RgAugm8Allru9jrTGogmTc&imgrefurl=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fezmata-technologies&docid=AyB10qsp3uoCMM&tbnid=lXt_YRCMO-zAeM%3A&vet=10ahUKEwjbvZmWud7iAhVBQY8KHbWIBOcQMwhCKAAwAA..i&w=200&h=200&safe=active&bih=754&biw=1536&q=ezmata%20technologies%20pvt%20ltd&ved=0ahUKEwjbvZmWud7iAhVBQY8KHbWIBOcQMwhCKAAwAA&iact=mrc&uact=8" >
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
